@import "tailwindcss";

:root {
  --background: #212529;
  --foreground: #f5ebe0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  background-color: #ffb703;
  color: #000000;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}
.btn-primary:hover {
  background-color: #e6a600;
}
