@import "tailwindcss";

@tailwind utilities;
:root {
  --background: #212529;
  --foreground: #f5ebe0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: abolition;
  letter-spacing: 0.15em;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary:hover {
  background-color: #e6a600;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footerwheel {
  padding-top: 8px;
  animation: spin 2s linear infinite;
  transition: all 0.3s ease-in-out;
}

.footerwheel:hover {
  animation-play-state: paused;
  cursor: pointer;
  color: #e6a600;
}
